*, *::after, *::before{
    box-sizing: border-box;
}
:root{
    --gap-size:2rem;

}
body
{
    margin: 0;
    background-color: #333;
    color:white;
    font-family: Impact;
}
h2{
    font-size: 3rem;
    padding-left:14rem;
    
}
h3, span{
    font-size: 2rem;
}
article{
    width:80vw;
    height:80vh;
    margin:auto;
    
    
}
.grid{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:var(--gap-size);
    
    
}

.grid img{
    width:13rem;
    height:13rem;
    border: white solid 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all ease 500ms;
}

img:hover{
    transform:scale(1.1);
}
#jcvddance{
    position:absolute;
    z-index:5;
    top:0;
    background-color: rgba(5, 78, 5, 0.473);
    width:100vw;
    height:100vh;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    font-size: 3rem;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: black;
}
#cache{
    position:absolute;
    z-index:5;
    top:0;
    background-color: rgba(161, 58, 58, .90);
    width:100vw;
    height:100vh;
    display:none;
    justify-content: center;
    align-items: center;
}